* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: x-large;
}
.container {
  border: 5px solid dodgerblue;
}

.header {
  border: 5px solid red;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  padding-right: 3em;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #a02020;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.slider {
  border: 5px solid yellow;
  padding: 50px;
  margin: 30px 0px;
}
.eventHeading {
  border: 5px solid purple;
  padding: 20px;
}
.events {
  border: 5px solid fuchsia;
  padding: 50px;

  overflow: hidden;
}
.team {
  border: 5px solid rgb(34, 23, 8);
}
.corporation {
  border: 5px solid yellow;

  float: left;
  width: 33%;
  padding: 30px;
  background-color: rgb(64, 174, 224);
}
.birthday {
  border: 5px solid violet;
  float: left;
  width: 34%;
  padding: 30px;
  background-color: red;
}
.wedding {
  border: 5px solid wheat;
  float: left;
  width: 33%;
  padding: 30px;
  background-color: tomato;
}

.public {
  border: 5px solid wheat;
  float: left;
  width: 33%;
  padding: 20px;
  background-color: tomato;
  display: inline;
  font-size: x-large;
}
.midContainer {
  margin: 0px 40px;
}
.btn {
  padding: 20px;
}
.footer {
  border: 5px solid green;
  padding: 50px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
.feedback {
  border: 5px solid wheat;
  height: 200px;
}
